<h1>Confirm Subscription</h1>

<p>Please confirm your subsctiption!</p>

<p>Click the following link to confirm your subscription to Foodie 2016</p>

<h3><%= link_to "Subscribe", @subscribe_url%></h3>

<p>If you received this email by mistake, simply delete it. You won't be subscribed if you don't click the confirmation link above.</p>


<%=DOMAIN%>